@import "tailwindcss";

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  background-color: rgb(235, 235, 235);
}


